
*.pyc
ckipdata/embedding_character/token_list.npy
ckipdata/embedding_character/vector_list.npy
ckipdata/embedding_word/token_list.npy
ckipdata/embedding_word/vector_list.npy
ckipdata/LICENSE
ckipdata/model_ner/label_list.txt
ckipdata/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.data-00000-of-00001
ckipdata/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.index
ckipdata/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.meta
ckipdata/model_ner/pos_list.txt
ckipdata/model_pos/label_list.txt
ckipdata/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.data-00000-of-00001
ckipdata/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.index
ckipdata/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.meta
ckipdata/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.data-00000-of-00001
ckipdata/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.index
ckipdata/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.meta
cwn_graph.pyobj
CwnGraph/
ckipdata.zip
synonym_dict
